body {
	margin: 0;
	padding: 10px;
	font-family: sans-serif;
}

section.compare {
	display: flex;
}

video {
	display: block;
	width: 480px;
	height: 270px;
}

canvas {
	display: block;
	width: 640px;
	height: 360px;
	outline: 1px solid black;
}
canvas.missing {
	outline: 1px solid red;
}

input#scrub {
	width: 100%;
}

ul#controls {
	list-style: none;
	margin: 50px;
	padding: 0;
}
ul#controls li {
	margin: 10px 0;
	padding: 0;
}
